.searchbutton {
  margin-left: -80px;
  background-color: white;
  border: none;
}

.search {
  margin-top: -50px;
}

.checkButton {
  background-color: red;
}
.fotter {
  color: rgb(25, 27, 27);
  background-color: rgb(95, 187, 42);
}
.logo {
  width: 80px;
  pointer-events: none;
  height: 80px;
  line-height: 100px;
  text-align: center;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.logo {
  -webkit-animation: rotating 12s linear infinite;
  -moz-animation: rotating 12s linear infinite;
  -ms-animation: rotating 12s linear infinite;
  -o-animation: rotating 12s linear infinite;
  animation: rotating 12s linear infinite;
}

.search {
  width: 500px;
  height: 30px;
  margin-right: 35px;
  margin-top: 5px;
}

.card-body {
  border: 1px solid black;
  border-radius: 2px;
  margin-top: -25px;
  background-color: whitesmoke;
}
body {
  background-color: rgb(238, 171, 151);
}

.path {
  height: 50px;
}

.cardbodyedit {
  background-color: whitesmoke;
  height: 175px;
}
.buttonedit {
  background-color: whitesmoke;
}

textarea.edit {
  height: 58%;

  resize: none;
  background-color: whitesmoke;
  width: 100%;
}
.cardbody {
  background-color: whitesmoke;
  width: 100%;
}

.commentbutton {
  width: 100%;
}

.inputcomment {
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid rgb(150, 144, 144);
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}

.head {
  background-color: rgb(230, 222, 222);
}

.AiOutlineHome {
  height: 500px;
}
.h1card {
  width: 108%;
  margin-right: -4%;
}
.newpost {
  width: 400px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  margin-top: 12px;
}
.headerpost {
  text-align: center;
  display: grid;
  grid-template-columns: 13% 90%;
  margin-top: 20px;
}
.exiteditpost {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  margin-top: 2px;
  margin-left: 2px;
}

.userdetails {
  margin-right: -1220%;
  font-weight: bold;
  font-size: larger;
}
.username {
  text-align: right;
  margin-right: 5%;
}
.thepostinput {
  background-color: whitesmoke;
  direction: rtl;
  width: 398px;
  height: 200px;
  border: none;
  resize: none;
  font-weight: bold;
  color: blueviolet;
}
.newpost ::placeholder {
  color: blue;
}
.newpost :focus::placeholder {
  color: transparent;
}

.continerpost {
  text-align: right;
  margin-top: 15px;
}

.card-text:last-child {
  color: gray;
  text-align: start;
  font-weight: bold;
}

.hr {
  color: black;
  background-color: grey;
  opacity: 10;
}
.hr:not([size]) {
  height: 2px;
}
.buttonnaddtopost {
  color: blue;
}
.addtopost {
  display: grid;
  grid-template-columns: 20% 75%;
  text-align: right;
  border: solid 1px black;
}
.buttonnewpost {
  background-color: white;
  color: blue;
  width: 100%;
  border-radius: 15px;
}
.signupform {
  width: 300px;
}

.loginform {
  width: 300px;
}
.userpic {
  position: absolute;
  margin-right: 700px;
  margin-top: 20px;
  border: solid gray;
  width: 150px;
  height: 150px;
}
.commentsbody {
  border: 5px solid whitesmoke;
  background: rgba(189, 75, 22, 0.651);
  color: white;

  border-radius: 10px;

  width: fit-content;
  max-width: 300px;
  height: fit-content;
  max-height: 250px;
}

.calndertop {
  margin-top: -2900px;
  margin-left: -95px;
}

.calender {
  margin-left: 75%;
}
.allNews {
  width: 33%;
  height: 500%;
  margin-right: -25px;
  margin-top: 50px;

  position: fixed;
}
.card {
  margin-top: 20px;
  border: 0px;
}
.btnedit {
  background-color: white;
  color: #1877f2;
  /* width: 5%; */
  position: absolute;
  margin-right: 80%;
  margin-top: 4%;

  z-index: 2;
  border-radius: 5px;
  border: 1px solid blue;
}
path {
  color: blue;
}
.numoflike {
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  color: gray;
}

.searchinput {
  resize: none;
  background-color: rgb(238, 171, 151);
  margin-top: 10%;
  margin-left: 360%;
  border: 1px solid rgb(238, 171, 151);
}

.searchbutton {
  background-color: rgb(238, 171, 151);
  height: 20%;
  left: 33.5%;
  margin-top: 0.8%;
}

.chatwin {
  width: 350px;
  position: absolute;
  margin-left: 70%;
  margin-top: 5%;
  position: fixed;
}

.buttonchat {
  margin-left: 90%;
  position: fixed;
  width: 5%;
  height: 15%;
  border: none;
  background-color: rgb(238, 171, 151);
}
